<div style="background-color: white; color: black; font-weight: 500; font-size: 2rem; background-color: #da185a;">
    <div class="titulo" color="primary" style="padding: 20px; color: white; height: 20px;"> about listening! </div>
    <div class="conteudo">
        <div class="imagem">
            <img class="img-titulo" src="assets/img/titulo.png" alt="é som por todos os lados">
            <div class="texto">
                <p>Música boa disponível para você.</p>
                <a href="#" routerLink="Music"><button mat-stroked-button color="primary">Bora ouvir</button></a>
            </div>
        </div>
    </div>
    <div class="imagensBaixo">
        <img class="imagem2" src="assets/img/img2.png" alt="desenho-musica">
        <img class="imagem1" src="assets/img/img1.png" alt="desenho-musica">
    </div>
</div>