<mat-toolbar color="primary">
    <span>Melhores Bandas</span>
</mat-toolbar>
<div class="content">
    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>Periphery</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/6d24kC5fxHFOSEAmjQPPhc" target="blank"><img
                src="assets/img/periphery.jpg" alt="periphery"></a>
        <mat-card-content>
            <p>Periphery é uma banda da cidade de Bethesda, estado de Maryland, Estados Unidos. A sonoridade do grupo se
                baseia no metal progressivo/djent, com influências de metalcore progressivo.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>Killswitch Engage</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/37394IP6uhnjIpsawpMu4l" target="blank"><img src="assets/img/kills.jpg"
                alt="periphery"></a>
        <mat-card-content>
            <p>Killswitch Engage é uma banda americana de metalcore formada em 1999 em Westfield, Massachusetts,
                decorrente da saída de membros das bandas Overcast e Aftershock.</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>Annisokay</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/7lAi1Cv19DsukgGjbZQxFg" target="blank"><img
                src="assets/img/ANNISOKAY.jpg" alt="periphery"></a>
        <mat-card-content>
            <p>Annisokay (stylized as annisokay, pronounced Ann is okay) is a German post-hardcore band from Halle,
                Saxony-Anhalt. Currently consists of scream vocalist Rudi Schwarzer.</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>As I Lay Dying</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/2vd2HnNh4pdYa9gDVHFjEu" target="blank"><img
                src="assets/img/as i lay dying.jpg" alt="periphery"></a>
        <mat-card-content>
            <p>As I Lay Dying é uma banda norte-americana de metalcore formada em 2000. Até a presente data, a banda
                lançou sete álbuns de estúdio, doze singles, duas compilações, um DVD, e quinze
                videoclipes.</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>TesseracT</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/23ytwhG1pzX6DIVWRWvW1r" target="blank"><img
                src="assets/img/tesseract.jpg" alt="tesseract"></a>
        <mat-card-content>
            <p>Tesseract (estilizado TesseracT) é uma banda britânica de metal progressivo, mais precisamente do recém
                criado gênero de heavy metal conhecido como djent metal.</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>Trivium</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/278ZYwGhdK6QTzE3MFePnP" target="blank"><img
                src="assets/img/trivium.jpg" alt="trivium"></a>
        <mat-card-content>
            <p>Trivium é uma banda norte-americana de heavy metal formada em 1999, originária de Orlando, Flórida. A
                banda já lançou oito álbuns de estúdio.</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>Asking Alexandria</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/1caBfBEapzw8z2Qz9q0OaQ" target="blank"><img src="assets/img/ask.jpg"
                alt="asking-alexandria"></a>
        <mat-card-content>
            <p>Asking Alexandria é uma banda britânica de rock, formada em 2008 pelo guitarrista Ben Bruce em North
                Yorkshire.</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>Northlane</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/3qyg72RGnGdF521zMU02u9" target="blank"><img
                src="assets/img/northlane.jpg" alt="periphery"></a>
        <mat-card-content>
            <p>Northlane é uma banda da cidade de Sydney, da Austrália, a princípio sendo Metalcore, e atualmente
                fazendo parte da cena Djent e Metalcore progressivo</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>Crown The Empire</mat-card-title>
        </mat-card-header>
        <a href="http://periphery.net/" target="blank"><img src="assets/img/cte.jpg" alt="periphery"></a>
        <mat-card-content>
            <p>Crown the Empire is an American metalcore band formed in 2010 in Dallas, Texas. They have released one EP
                and four full-length albums.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z6" style="top: 25px;">
        <mat-card-header>
            <mat-card-title>Voices From The Fuselage</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/3CDlmNCrRf989svG7OHksr" target="blank"><img src="assets/img/vff.jpg"
                alt="Voices From The Fuselage"></a>
        <mat-card-content>
            <p>Voices From The Fuselage é uma banda inglesa de metal progressivo de Northampton, Inglaterra, atualmente
                assinado com a White Star Records.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z6" style="top: 25px;">
        <mat-card-header>
            <mat-card-title>Bring Me the Horizon</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/1Ffb6ejR6Fe5IamqA5oRUF" target="blank"><img src="assets/img/bmh.jpg"
                alt="bring me the horizon"></a>
        <mat-card-content>
            <p>Bring Me the Horizon (abreviado para BMTH) é uma banda britânica de rock, formada em 2004 em Sheffield,
                South Yorkshire. </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>Starset</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/0kD8IT1CzF7js2XKM9lLLa" target="blank"><img
                src="assets/img/starset.jpg" alt="Starset"></a>
        <mat-card-content>
            <p>Starset é uma banda de rock americana de Columbus, Ohio, formada por Dustin Bates em 2013. Eles lançaram
                seu primeiro álbum, em 2014 e seu segundo álbum, Vessels, em 20 de janeiro de 2017.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>Architects</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/3ZztVuWxHzNpl0THurTFCv" target="blank"><img src="assets/img/act.jpg"
                alt="Architects"></a>
        <mat-card-content>
            <p>Architects, uma banda de metalcore britânica de Brighton, formada em 2004.
                Atualmente consiste de vocalista Sam Carter, o baterista Dan Searle, guitarrista e
                tecladista Tom Searle (falecido) e Alex Dean no baixo.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title>Pentakill</mat-card-title>
        </mat-card-header>
        <a href="https://open.spotify.com/artist/2qcGTB5s2t9o2w9SrI719s" target="blank"><img style="height: 200px;"
                src="assets/img/pentakill.jpg" alt="Pentakill"></a>
        <mat-card-content>
            <p>Pentakill é uma banda virtual de heavy metal ligada ao universo de League of Legends. A música deles é
                composta e executada principalmente pela equipe de música interna da Riot Games.</p>
        </mat-card-content>
    </mat-card>
</div>